<section data-controller="AddItemController" class="addItem-container">
    <form id="addItem">
        <label for="dateFeild">Date</label>
        <input type="text" id="dateFeild" />
        <label for="particularFeild">Date</label>
        <input type="text" id="particularFeild" />
        <label for="valueFeild">Date</label>
        <input type="text" id="valueFeild" />
        <label for="remarkFeild">Date</label>
        <input type="text" id="remarkFeild" />
        <a href="javascript:void(0);">Clear</a>
        <button>Add</button>
    </form>
</section>
